/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #006400;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc400;
    color: #006400;
    padding: 10px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#site-title {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

#login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#login h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #ffc400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flash-messages {
    margin-bottom: 1em;
}

.flash {
    padding: 0.75em;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

